<form class="row g-3">
    <div class="col-md-12">
        <label for="inputEmail4" class="form-label">Project Folder</label>
        <br/>
        <div onclick="getFolder()" class="btn btn-primary">Select Project Folder</div>
    </div>
    <div class="col-md-6">
        <label for="projectName" class="form-label">Project Name</label>
        <input type="text" class="form-control" style="text-transform: initial !important;" placeholder="Project Name..." id="projectName">
    </div>
    <div class="col-md-6">
        <label for="projectID" class="form-label">Project ID</label>
        <input type="text" class="form-control" onkeypress="return event.charCode != 32" style="text-transform: initial !important;" placeholder="Project ID..."  id="projectID">
    </div>
    <div class="col-12">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" placeholder="Enter project description here..." rows="3"></textarea>
    </div>
    <div class="col-12">
        <label for="ideChoice" class="form-label">IDE of choice</label>
        <select class="form-select" id="ideChoice">
            <option value="vscode">Visual Studio Code</option>
            <option value="webstorm">WebStorm</option>
            <option value="idea">IntelliJ</option>
            <option value="pycharm">PyCharm</option>
            <option value="clion">CLion</option>
        </select>
    </div>
    <div class="col-12">
        <button type="button" onclick="addProject()" class="btn btn-primary">Add Project</button>
    </div>
</form>

<script>
    let folderPath;

    function getFolder() {
        $.get('/api/dialog', function (res, status) {
            folderPath = res.folderPath;
            $('#projectID').val(res.projectName.toLowerCase().split(" ").join("-"))
            $('#projectName').val(res.projectName)
            $('#description').val(res.description)
        })
    }

    function addProject() {
        const project = {
            id: $('#projectID').val(),
            projectName: $('#projectName').val(),
            localPath: folderPath,
            description: $('#description').val(),
            preferredIDE: $('#ideChoice').val()
        }

        $.post('/api/add', project, (res, status) => {
            console.log(res)
        })

    }

</script>
