<div id="quoteBody">
    <h2 style="font-size: 5vw; text-transform: initial !important;">{{{quote}}}</h2>
    <i style="font-size: 3vw; float: right; color: white; text-transform: initial !important;"> - {{{author}}}</i>
</div>
<style>
    #quoteBody {
        position: absolute;
        left: 50%;
        top: calc(50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 80%;
    }
</style>
